@import "../../shared/variables.scss";

.prescription {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

  img {
    width: 20rem;
    height: 28rem;
  }
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.loader {
  display: flex;
  justify-content: center;
  height: 300px;

  svg {
    align-self: center;
  }
}

.inputWrapper {
  margin: 1rem 0;

  label {
    display: block;
    margin: 0.5rem 0;
    color: $text;
    font-family: $regular;
    font-size: 0.875rem;
    letter-spacing: +0.5px;
  }

  input {
    width: calc(100% - 1rem);
    max-width: 24rem;
    height: 2.9375rem;
    background: #fafafa;
    border: 1px solid #e3e3e3;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    font-family: $regular;
    color: $text;
  }

  input:focus {
    background: $tertiary;
  }

  select {
    width: calc(100% - 1rem);
    max-width: 24rem;
    height: 3.3rem;
    background: #fafafa;
    border: 1px solid #e3e3e3;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    font-family: $regular;
    color: $text;

    option {
      font-size: 1rem;
      font-family: $regular;
      color: $text;
    }
  }

  select:focus {
    background: $tertiary;
  }
}