@import "../../shared/variables.scss";

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;

    .box {
        background: $secondary;
        padding: 20px;
        display: grid;
        cursor: default;
        transition: ease .2s;
        cursor: pointer;
        border-radius: 0.5rem;
    }

    .box:hover {
        background: $tertiary;
    }
}