* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1rem;
  color: #484848;
}

#__next {
  height: 100%;
}

#layoutRoot {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  justify-items: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

h3 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0.125rem;
}

h4 {
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.125rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1.pageHeading {
  color: #0F2E53;
}

div.ContentContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.pageHeadingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

div.backArrow {
  position: relative;
  width: auto;
  height: auto;
  cursor: pointer;
  left: 0;
  -webkit-transition: left ease .3s;
  transition: left ease .3s;
  margin-right: 0.5rem;
}

div.backArrow img {
  width: 1.2rem;
  height: 1.2rem;
}

.backArrow:hover {
  cursor: pointer;
  left: -5px;
}

div.ContentForm {
  position: relative;
  width: 40%;
  height: 100%;
}

div.ContentPageIllustration {
  position: relative;
  width: 60%;
  height: 100%;
}

div.ContentPageIllustration img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

form button {
  width: auto;
  min-width: 9rem;
  height: 2.6rem;
  margin: 2rem 1rem 3rem 0;
  padding: 0 1rem;
  background: #EDEDED;
  color: #0F2E53;
  border: none;
  border-radius: 0.5rem;
  color: #0F2E53;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

form button:first-of-type {
  background: #0F2E53;
  color: #ffffff;
}

form button:hover,
form button:focus {
  cursor: pointer;
}

table {
  width: 60%;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px, rgba(15, 15, 15, 0.2) 0px 4px 7px;
          box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px, rgba(15, 15, 15, 0.2) 0px 4px 7px;
  border-radius: 0.5rem;
  overflow: hidden;
}

td,
th {
  padding: 1rem;
  text-align: center;
}

th {
  background: #EDEDED;
  font-weight: bold;
}

tr {
  width: 100%;
  background-color: #F5F6FB;
}

tr:nth-child(even) {
  background-color: white;
}
/*# sourceMappingURL=global.css.map */