// Colors
$primary: #0F2E53;
$secondary: #EDEDED;
$tertiary: #F5F6FB;
$text: #484848;
$error: #ff0033;

// Fonts
$accent: "Nunito Sans", Arial, sans-serif;
$regular: "Roboto", Arial, sans-serif;

// Others
$box-shadow_1: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
$box-shadow_2: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px, rgba(15, 15, 15, 0.2) 0px 4px 7px;